.card-portfolio{

    @mixin sombra($dir, $angulo, $distancia){
        content: '';
        z-index: -1;
        position: absolute;
        background: #777777;
        width: 50%;
        height: 15px;
        bottom: 8px;
        box-shadow: 0 15px 10px #777777;
        

        @if ($dir== 'esq'){
            transform: rotate($angulo * -1);
            left: $distancia;
        }@else{
            transform: rotate($angulo);
            right: $distancia;
        }
    }

    &:before{
        @include sombra('esq',3deg, 5px);
    }
    &:after{
        @include sombra('dir',3deg, 5px);
    }

    padding: 0;
    border-radius: 0;
    border: 1px solid none;
    position: relative;


    &__imagem{
        height: 230px;
        overflow: hidden;

        Img{
            max-width: 100%;
            opacity: .7;
            transition: opacity .3s linear, transform 1s ease-in;
        }
    }


    &:hover{
        img{
            opacity: 1;
            transform: scale(1.15) rotate(-5deg);
        }

        .card-portfolio__btn{
            background:lighten($main-color, 30);
            color: white;

            &:hoover{
                background: saturate($main-color, 30);

            }
        }
    }

    &__btn{    
        background: transparent;  
        color: $main-color;
        display: block;
        border: none;
        border-radius: 0;
        width: 100px;
        transition: all .3s linear;
        margin-left: auto;
        position: relative;
       top: 1px;

    }

}